.panel-default>.panel-heading{
  background-color: #1abc9c;
  color: #fff
}
#textarea{
  height: 500px;
}
.modal-content{
  padding: 20px;
}
footer{
  margin-top:20px;
  height: 50px;
  background: #000
}
label a{
  margin-left: 10px;
}
.panel-heading a{
  color: #fff;
  font-size: 15px;
}
