<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>softwarewebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NavServlet</display-name>
    <servlet-name>NavServlet</servlet-name>
    <servlet-class>com.levi.servlet.NavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavServlet</servlet-name>
    <url-pattern>/NavServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News</display-name>
    <servlet-name>News</servlet-name>
    <servlet-class>com.levi.servlet.News</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackgroundSystem</display-name>
    <servlet-name>BackgroundSystem</servlet-name>
    <servlet-class>com.levi.servlet.BackgroundSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackgroundSystem</servlet-name>
    <url-pattern>/BackgroundSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.levi.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>